/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* style */
body {
    font: 16px/28px arial, sans-serif;
    background-color: #96CEB4;
    color: #333;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #FFAD60;
    border-bottom: 2px solid black;
    z-index: 9999;
}


.container {
    width: 960px;
    margin: 80px auto;
    background-color: white;
    position: relative;
}

.header {
    padding: 20px;
    padding-bottom: 5px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
    font-weight: bold;
}

.header a {
    background-color: #D9534F;
    color: white;
    text-decoration: none;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: black;
}

.header a:active {
    font-style: italic;
}

/*Gambar Sushi*/
.hero {
    height: 320px;
    background-image: url(https://images.unsplash.com/photo-1523381294911-8d3cead13475?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNsb3RoZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: 0 -120px;
    border-top: 6px solid #92A9BD;
    border-bottom: 6px solid #92A9BD;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: underline;
}

.main a {
    color: salmon;
    text-decoration: none;
    font-weight: bold;
}

.main p {
    margin-bottom: 20px;
    font-size: 17px;
}

/* Sidebar */
.sidebar {
    width: 300px;
    float: left;
    padding: 20px;
}

.sidebar img {
    width: 200px;
    float: left;
    padding-right: 20px;
    margin-left: -40px;
}

.sidebar p {
    font: 12px/26px arial, sans-serif;
}

.insta p {
    font: 20px/28px arial, sans-serif;
    padding-top: 20px;
}

.meta p {
    font: 20px/28px arial, sans-serif;
    padding-top: 30px;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}