* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1500px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #35858B;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #99DDCC;
    z-index: 9999;
    border-bottom: 1px solid #112D4E;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: brown;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.column {
    margin-top: 50px;
    margin-bottom: 50px;
}

.column p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #35858B;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #35858B;
    width: 100%;
    line-height: 50px;
}

a.tombol-biru {
    background: #3D84A8;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tombol-biru:hover {
    background: #46CDCF;
    text-decoration: none;
    color: black;
}

a.tombol-salmon {
    background: #444F5A;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tombol-salmon:hover {
    background-color: salmon;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

#technology img {
    border: 2px solid black;
}

.tengah {
    text-align: center;
    width: 100%;
}

.game-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.perangkat-list {
    width: 20%;
    margin: 0 auto;
}

.perangkat-list img {
    width: 95%;
    border: 2px solid black;
}

.perangkat-list p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #3D84A8;
}

.tengah h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.merk-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.baju-list {
    width: 90%;
    margin: 0 auto;
}

.baju-list img {
    width: 250px;
    border: 2px solid black;
}

#contact {
    background: #dedede;
    padding: 50px 0px 50px 0;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #3D84A8;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0 50px 0;
    margin-top: 50px;
}

/* Mengatur agar kompatibel dengan ukuran layar */

@media screen and (max-width: 991.98px) {
    .container {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .merk-list {
        width: 50%;
    }

    .baju-list {
        width: 50%;
    }
}